body {
    padding:50px;
    font-family: Bitstream Vera Sans Mono, monospace, sans-serif;
    color:#686868;
    font-weight:300;
}

h1, h2, a, a:link, a:visited {
    font-family: Bitstream Vera Sans Mono, monospace, sans-serif;
    color:#00cad5;
    margin:10px 0 10px;
    line-height:1.1;
}

h1, h2 {
    font-size:1.75em;
}

p, ul {
    margin:0 0 20px;
}

p, h3 {
    font-size:1em;
    font-weight:normal;
}

a {
    text-decoration:none;
}

img {
    max-width:100%;
}

.profile, .github {
    border-radius:50%;
}

.github, .linkedin {
    height:24px;
    width:24px;
    box-sizing:border-box;
    padding-top:2px;
    background:#686868;
    transition: background 0.3s;
}

.linkedin {
    border-radius:15%;
}

.github:hover, .linkedin:hover {
    background:#00cad5;
}

header {
    width:280px;
    float:left;
    position:absolute;
    top:20%;
	line-height:22px;
}

section {
    width:500px;
    float:right;
    padding-top:50px;
    padding-bottom:50px;
}

.wrapper {
    width:880px;
    margin:0 auto;
	overflow:auto;
}

@media print, screen and (max-width:960px) {
    div.wrapper {
        width:auto;
        margin:0;
    }

    header, section {
        float:none;
        position:static;
        width:auto;
    }

    header {
        padding-right:320px;
    }

    section {
        border-width:1px 0;
        padding:20px 0;
        margin:0 0 20px;
    }
}

@media print, screen and (max-width:720px) {
    body {
        word-wrap:break-word;
    }

    header {
        padding:0;
    }
}

@media print, screen and (max-width:480px) {
    body {
        padding:15px;
    }
}

@media print {
    body {
        padding:0.4in;
        font-size:1em;
        color:#444;
    }
}
