body {
    font-family: Verdana, sans-serif;
}

#gameCanvas {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    position: absolute;
    z-index: 2;
    top: 4%;
    left: 2%;
    border-radius: 4px;
    padding: 4px;
    opacity: 0.8;
    background-color: grey;
    text-align: center;
}

input[type=number], select, option {
    width: 110px;
}
